<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultorio</title>

    <script src="~/Scripts/jquery-3.0.0.js"></script> 
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/Estilo.css" rel="stylesheet" />
    <link href="~/Content/themes/base/Datapicker.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md" id="navegacion">
        <h3>Consultorio</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Pagina principal", "Index", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Contacto", "Contacto", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Para Pacientes", "Index", "ParaPacientes")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Para doctor", "ListarPacientes", "ParaDoctor")
                </li>
            </ul>
            <span class="navbar-text">
                Navbar text with an inline element
            </span>
        </div>
    </nav>




    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - Marina Guseva</p>
    </footer>
</body>
</html>

@section scripts {

   

}