@model Consultorio.Models.ObraSociale

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="titulo">Borrar obrasocial</h2>

<div>
    <hr />
    <div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </div>

                <div class="col-md-11">
                    @Html.DisplayFor(model => model.Descripcion)
                </div>

                <div class="col-md-1">
                    @Html.DisplayNameFor(model => model.Telefono)
                </div>

                <div class="col-md-11">
                    @Html.DisplayFor(model => model.Telefono)
                </div>

            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="boton" /> |
                @Html.ActionLink("Volver", "Listar")
            </div>
        }
    </div>
