@model Consultorio.Models.Paciente

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="titulo">Borrar Paciente</h2>


<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.Nombre)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.Nombre)
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.Apellido)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.Apellido)
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.DNI)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.DNI)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.FechaNac)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.FechaNac)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.ObraSociale.Descripcion)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.ObraSociale.Descripcion)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.Direccion)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.Direccion)
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.Telefono)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.Telefono)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.Email)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.Sexo)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.Sexo)
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span class="titulo">@Html.DisplayNameFor(model => model.HistoriaClinica.Diagnostico)</span>
            </div>

            <div class="col-md-11">
                @Html.DisplayFor(model => model.HistoriaClinica.Diagnostico)
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="contenidoFlex">
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="boton" />
        </div>
        <div>
            @Html.ActionLink("Volver", "ListarPacientes")
        </div>
    </div>
    }
</div>
